*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   
}
.Inicio{
    background-color: black;
    width: 100%;   
  
}

    
.animate__fadeInDown{
    color: black;
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: white;
    
}

.menu{
    background-color: black;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items:center;
    justify-content: center;   
   
   
   
}


nav ul{
    float: left;
   position: absolute;
   display: flex;
   align-items:center;
   justify-content: center;
   margin-right: 38%;
}


nav ul li{
    display: inline-block;
    font-size: 16px; 
    margin-left: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    
}

.tienda{
    background-image: url(imagenes/icons8-tienda-en-línea-80.png);
    padding-left: 30px;
    padding-right: 14px;
    padding-top: 10px;
	background-size: 27px;
	background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    

}
.what{
    
    background-image: url(imagenes/icons8-whatsapp-48.png);
    padding-left: 30px;
    padding-right: 14px;
    padding-top: 10px;
	background-size: 27px;
	background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
   
   
}
.contacto{
    background-image: url(imagenes/contacto.png);
    padding-left: 28px;
    padding-right: 12px;
    padding-top: 10px;
	background-size: 27px;
	background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
}
.ubicacion{
    background-image: url(imagenes/ubicacion.png);
    padding-left: 28px;
    padding-right: 12px;
    padding-top: 10px;
	background-size: 27px;
	background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
   
}


.logo{
    width: 160px;
    height: 90px; 
   
}

.buscador {
	background:white;
	padding: 9px 15px 9px 15px;
	border-radius: 30px;
	border:2px solid white;
    margin-left: 1100px;
	
}
.Estilobuscador{
	border:none;
	font-weight: bold;
	padding-left: 20px;
	background-image: url(imagenes/icons8-búsqueda-30.png);
	background-size: 18px;
	background-repeat: no-repeat;
	width: 0px;
	transition: all 1s;
    cursor: pointer;
    margin: 0%;
    
    
}
form input:focus {
	outline: none;
	width: 100px;
    
}

li:nth-child(4){
    margin-left: 10rem;
    position: relative;

}

li:nth-child(5){ 
    position: relative;
   left: 10rem
}



.recomendaciones{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    padding-bottom: 30px;

}

.grid {
    display: grid;
    grid-template-columns: 26rem 26rem 26rem;
    grid-template-rows: 20rem 20rem;
    grid-gap: 10px;
    padding-left: 35px;
    padding-right: 35px;    
    place-content: space-evenly;
  }
  
.grid-item1{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    
  
 }
 .grid-item1 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.grid-item2{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-content: center;
    justify-content: center; 
    width: 400px;
} 
.grid-item2 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-item3{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.grid-item3 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-item4{ 
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 400px;
    display: flex;
    align-content: center;
    justify-content: center; 
}
.grid-item4 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.grid-item5{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.grid-item5 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.grid-item6{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.grid-item6 img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
  
.gente{
    display: block;
   justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(207, 214, 224);
    color: black;
    width: 100%;
    height: 200px;
}  

.opinion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 26px;


}
.parrafo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    margin-top: 70px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;

}

.final{
    width: 100%;
    background-color: black;
    
    
}
.footer{
    color: white;
    list-style: none;
}

    
.compra{
    list-style: none;
    margin-bottom: 20px;
    
}






footer{
    width: 100%;
    padding: 10px 0px;
    background-color: black;
    background-size: cover;
    color: white;
    margin-top: 30px;
}
    

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
   
}

.box__footer .logo2 img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}